* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-align: center;
}

.container{
 
  margin: 0 auto;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  

}
img{
  width: 120px;
  height: 140px;
  border-radius: 20px;
  
}



